<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Schnell-Lesen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>425257A320601F86007FA4A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>425257B720601F87007FA4A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>425257C220601F87007FA4A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
